body{
    background-color: #D6EADF;
}

.buttons{
    text-align: center;
}

button{
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 300px;
    background-color: #EAC4D5;
    color: white;
    border: 2px solid rgba(155, 59, 102, 0.74);
    box-shadow:0px 8px  rgb(189, 92, 135);
    
    min-height: 125px;
    padding: 15px 0px;
    margin-bottom: 7%;
    font-size: 100px;
    
    margin-top: 10%;
    font-size: 100px;
    min-width: 325px;
    
    opacity: 0; 
    animation-name: butt;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}

#add{
    margin-left: 5%;    
}




@keyframes butt{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#temp{
    font-size: 40px;
    display: inline-block;
    vertical-align: top;
    margin-left: 80%;    
}


#bar{
    border: 5px solid #ccc;
    margin: auto;
    font-size: 60px;
    margin-top: 30%;
    min-height: 75px;
    transition: 0.5s;

    
}
#bar[type=text]:focus {
    border: 5px solid #555;
    
}

@keyframes list{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
ol{
    font-family: 'Open Sans', sans-serif;
    color: #809BCE;
    overflow: auto;
    text-align: center;
    font-size: 80px;
    margin: auto;
    background-color: rgb(233, 243, 238);
    width: 70%;
    height: 50vh;
    list-style: none;
    
    
}

ol li{
    animation-name: butt;
    animation-duration: 1s;
    display: inline;
}

ol a{
    
    opacity: 0%;
    animation-name: butt;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
    text-decoration: none;
    margin-left: 0px;
    
}

#bar:focus::placeholder{
    visibility: hidden;
    
}

